html {
	margin: 0px;
	height: 0px;
	background-color: rgb(238, 238, 238);
	font-family: "Raleway", sans-serif;
}

body {
	padding: 30px 30px 20px 30px;
	height: calc(100vh - 30px);
	overflow: hidden;
}
.contenedor {
	height: calc(100vh - 100px);
	background-color: #fc5454;
	box-shadow: 4px 4px 6px rgb(110, 110, 110);
}
.derecho {
	width: 20%;
	height: 100%;
	float: left;
	background-color: #fc5454;
	text-align: center;
}

/**LADO DERECHO**/

.derecho img {
	width: 100%;
}

.derecho ul {
	list-style-type: none;
	padding-left: 0%;
	font-size: 15px;
}

.derecho ul li a {
	text-decoration: none;
	padding: 15px;
	display: block;
	color: #eeeeee;
}
.derecho ul li a:hover {
	transition: all 0.2s ease;
	background-color: #ffffff;
	border-left: 6px solid #707070;
	color: #fc5454;
}
#btn-der-select {
	background-color: #ffffff;
	border-left: 6px solid #707070;
	color: #fc5454;
}

/*MENU ABAJO**/
.menu-bajo {
	width: 80%;
	float: right;
	background-color: #fc5454;
	text-align: center;
}
.menu-bajo nav {
	position: relative;
	list-style-type: none;
	font-size: 15px;
	margin: 0%;
}

.menu-bajo nav a {
	display: inline-block;
	text-decoration: none;
	height: 10%;
	padding: 15px 30px 15px 30px;
	color: #eeeeee;
}
.menu-bajo nav a:hover {
	transition: all 0.9s ease;
	background-color: #ffffff;
	color: #fc5454;
}
#btn-der-select-bajo {
	background-color: #ffffff;
	border-left: 6px solid #707070;
	color: #fc5454;
}

/**INFORMACION**/
.info {
	width: 76%;
	height: 92%;
	float: right;
	background-color: rgb(255, 255, 255);
	text-align: justify;
	overflow-y: scroll;
	padding: 0% 2% 0% 2%;
	color: #2c2c2c;
}

.cabecera {
	margin-top: 1%;
	margin-bottom: 0%;
	font-size: 250%;
	text-align: center;
	letter-spacing: 10px;
}
#fecha {
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: center;
}
.info img {
	float: left;
	width: 24%;
	margin-right: 2%;
	margin-bottom: 1%;
}
.info > p > a {
	text-decoration: none;
	color: #fc5454;
}
.info hr {
	background-color: #fc5454;
	color: #fc5454;
	width: 50%;
	opacity: 0.6;
}
.info em {
	color: #707070;
}

#tab {
	text-indent: 0.8cm;
	margin: 1% 0% 3% 0%;
}

iframe {
	width: 720px;
	height: 405px;
	margin-bottom: 5%;
}

#video {
	text-align: center;
	position: relative;
}
.dos-columnas {
	column-gap: 4em;
	columns: 2;
	text-align: justify;
	margin-top: 20px;
}
.dos-columnas p,
.dos-columnas ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
#p-derecha {
	text-align: right;
	margin-top: 16px;
	margin-bottom: 0px;
}
